<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-http="http://www.springframework.org/schema/integration/http"
       xmlns:int-file="http://www.springframework.org/schema/integration/file"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd
       http://www.springframework.org/schema/integration/http
       http://www.springframework.org/schema/integration/http/spring-integration-http.xsd
       http://www.springframework.org/schema/integration/file
       http://www.springframework.org/schema/integration/file/spring-integration-file.xsd">

    <int:channel id="request"/>
    <int:channel id="response"/>

    <int:gateway
        default-request-channel="request"
        service-interface="pl.moras.coronavirusdata.gateway.Gateway"
        default-payload-expression="new java.util.Date()"/>

    <int-http:outbound-gateway id="request-gateway"
                               request-channel="request"
                               url="${url}"
                               http-method="GET"
                               expected-response-type="java.lang.String"
                               charset="UTF-8"
                               reply-channel="response"/>

    <int-file:outbound-channel-adapter
            id="file"
            channel="response"
            filename-generator-expression="'${file}'"
            directory="${user.dir}"/>

</beans>